<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>
    <h1>상품 등록</h1>
   
    <form th:action="@{/goods/product-register}" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">상품명</label>
            <input type="text" id="name" name="name" th:value="${product.name}" required>
        </div>

        <!-- 카테고리 선택 -->
        <div>
            <label for="category">카테고리</label>
            <select id="category" name="category.tseq" required> <!-- 카테고리 ID 사용 -->
                <option th:each="category : ${categories}" 
                        th:value="${category.tseq}" 
                        th:text="${category.name}">카테고리</option>
            </select>
             <button type="button" id="addCategoryBtn">추가</button>
        </div>

        <div>
            <label for="price1">가격</label>
            <input type="number" id="price1" name="price1" th:value="${product.price1}" required>
        </div>

        <div>
            <label for="content">상품 설명</label>
            <textarea id="content" name="content" th:text="${product.content}" required></textarea>
        </div>

        <div>
            <label for="image">상품 이미지</label>
            <input type="file" id="image" name="image" accept="image/*">
        </div>

        <button type="submit" class="product-submit-button">등록</button>
    </form>
    <div>
        <a th:href="@{/goods/product-list}" class="product-list-button">
            <button type="button">상품 목록</button>
        </a>
    </div>
    
    <script src="/js/product-alert.js"></script>
    <script src="/js/category.js" defer></script>
</body>
</html>
