<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 목록</title>
     <link rel="stylesheet" href="/css/productList.css" />
</head>
<body>
<div class="product-container">
    <h1>상품 목록</h1>

    <form th:action="@{/goods/delete-products}" method="post">
	    <div class="product-grid">
	        <!-- 상품 목록 출력 -->
	        <div th:each="product : ${products}" class="product-item">
	        	<input type="checkbox" name="productIds" th:value="${product.pseq}" /> 
	 			<img th:if="${#lists.isEmpty(product.imagePaths)}" src="/images/defaultImg.jpg" alt="기본 이미지" class="product-image"/>
	            <img th:unless="${#lists.isEmpty(product.imagePaths)}" th:src="@{${product.imagePaths[0]}}" alt="상품 이미지" class="product-image"/>
	            <h2 th:text="${product.name}">상품 이름</h2>
	            <p th:text="${product.price1} + '원'">가격</p>
	            <a th:href="@{'/goods/' + ${product.pseq}}" class="product-link">상품 보기</a>
	        </div>
		</div>
        <!-- 상품이 없는 경우 기본 틀 표시 -->
        <div th:if="${#lists.isEmpty(products)}" class="empty-product-grid">
            <div class="empty-product-item">
                <img src="/images/defaultImg.jpg" alt="기본 이미지" class="product-image"/>
                <h2>상품 준비 중</h2>
                <p>가격 정보 없음</p>
            </div>
            <div class="empty-product-item">
                <img src="/images/defaultImg.jpg" alt="기본 이미지" class="product-image"/>
                <h2>상품 준비 중</h2>
                <p>가격 정보 없음</p>
            </div>
            <div class="empty-product-item">
                <img src="/images/defaultImg.jpg" alt="기본 이미지" class="product-image"/>
                <h2>상품 준비 중</h2>
                <p>가격 정보 없음</p>
            </div>
        </div>
    </div>

    <!-- 상품 등록 버튼은 한 번만 표시 -->
    <div class="product-register-container">
        <a href="/goods/product-register" class="product-register-button">상품 등록</a>
    </div>
</div>
</body>
</html>
