<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" type="text/css" href="css/findAccount/findAccount.css">
</head>
<body>
<div class="container">
    <h1>비밀번호 재설정</h1>

    <!-- 오류 메시지 표시 -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- 비밀번호 재설정 폼 -->
    <form th:if="${token}" th:action="@{/resetPassword}" method="post" class="mt-3">
        <input type="hidden" name="token" th:value="${token}" />

        <div class="form-group">
            <label for="newPassword">새 비밀번호</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required
                   placeholder="새 비밀번호를 입력하세요"
                   pattern=".{8,}"
                   title="비밀번호는 최소 8자 이상이어야 합니다."/>
        </div>
        <button type="submit" class="btn-primary">비밀번호 재설정</button>
    </form>

    <!-- 비밀번호 재설정 성공 메시지 -->
    <div th:if="${resetPasswordMessage}" class="alert alert-success">
        <p th:text="${resetPasswordMessage}"></p>
    </div>

    <!-- 비밀번호 재설정 오류 메시지 -->
    <div th:if="${resetPasswordError}" class="alert alert-danger">
        <p th:text="${resetPasswordError}"></p>
    </div>
</div>
</body>
</html>
