<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이디/비밀번호 찾기</title>
    <script src="/js/resetPassword.js"></script>
</head>
<body>
	<h2>아이디 찾기</h2>
	<form th:action ="@{/find-username}" method="post">
	
		<label for ="email">이메일: </label>
		<input type="text" id="email" name="email" required><br><br>
		
		<button type="submit">아이디 찾기</button>
	
	</form>
	
	<div id="usernameResult">
		<p th:if="${usernameFound}" th:text="'아이디: ' + ${foundUsername}"></p>
		<p th:if="${usernameNotFound}" th:text="'등록된 이메일이 없습니다.'"></p>
	</div>
	

	<hr>
	

    <h2>비밀번호 찾기</h2>
    <form th:action="@{/forgot-password}" method="post">
        
        <label for="username">아이디: </label>
        <input type="text" id="username" name="username" th:value="${username}" required><br><br>
        <label for="email">이메일: </label>
        <input type="text" id="email" name="email" th:value="${email}" required><br><br>
    
        <button type="button" id="sendCodeBtn">인증코드 발송</button>
    
    </form>
    
</body>
</html>
