<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이디/비밀번호 찾기</title>
    
</head>
<body>
	<h2>아이디 찾기</h2>
	<form th:action ="@{/find-userId}" method="post">
	
		<label for ="email">이메일: </label>
		<input type="text" id="email-id" name="email" required><br><br>
		
		<button type="submit">아이디 찾기</button>
	
	</form>
	
	<div id="userIdResult">
		<p th:if="${userIdFound}" th:text="'아이디: ' + ${foundUserId}"></p>
		<p th:if="${userIdNotFound}" th:text="'등록된 이메일이 없습니다.'"></p>
	</div>
	<!-- id를 같은 id로 하면 구분이 안되어서 두 로직간에 충돌이 일어야 조심
		ex) id=email, id=email (x) / id= email-id, id=email-password (O) -->

	<hr>
	

    <h2>비밀번호 찾기</h2>
    <form th:action="@{/forgot-password}" method="post">
        
        <label for="userId">아이디: </label>
        <input type="text" id="userId" name="userId" th:value="${userId}" required><br><br>
        <label for="email">이메일: </label>
        <input type="text" id="email-password" name="email" th:value="${email}" required><br><br>
    
        <button type="button" id="sendCodeBtn">인증코드 발송</button>
    
    </form>
    <script src="/js/resetPassword.js"></script>
</body>
</html>
